@font-face {
  font-family: "Blackjack-webfont";
  src: url(fonts/blackjack-webfont.ttf) format("truetype"), url(fonts/blackjack-webfont.woff) format("woff");
}
@font-face {
  font-family: "DancingScript-VariableFont_wght";
  src: url(fonts/DancingScript-VariableFont_wght.ttf) format("truetype");
}
@font-face {
  font-family: "FontleroyBrown-webfont";
  src: url(fonts/FontleroyBrown-webfont.ttf) format("truetype"), url(fonts/FontleroyBrown-webfont.woff) format("woff");
}
@font-face {
  font-family: "jr!ha___-webfont";
  src: url(fonts/jr!ha___-webfont.ttf) format("truetype"), url(fonts/jr!ha___-webfont.woff) format("woff");
}
@font-face {
  font-family: "KaushanScript-Regular";
  src: url(fonts/KaushanScript-Regular.otf) format("truetype");
}
@font-face {
  font-family: "Metropolis-ExtraBold";
  src: url(fonts/Metropolis-ExtraBold.otf) format("truetype");
}
@font-face {
  font-family: "Metropolis-Regular";
  src: url(fonts/Metropolis-Regular.otf) format("truetype");
}
body {
  margin: auto;
}

/** header **/
header {
  background-color: #488c74;
  width: 100%;
  height: 60px;
}

h1 {
  font-family: "Metropolis-ExtraBold";
  font-size: 2.3em;
  text-align: center;
  margin: 0px;
  padding-top: 10px;
}

h1 a {
  color: #fbc137;
  text-decoration: none;
}

/** main **/
main {
  background-color: white;
  padding: 30px 30px;
  max-width: 900px;
  margin: auto;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.menu__front {
  height: 560px;
  min-width: 400px;
  box-shadow: 5px 5px 10px black;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.menu__front--1 {
  background-color: #fad7d3;
}
.menu__front--2 {
  background-color: #fff2f4;
}
.menu__front--3 {
  background-color: #f7f6f7;
}
.menu__front--4 {
  background-color: #fdfffc;
}

@media screen and (max-width: 450px) {
  main {
    background-color: white;
    padding: 20px 40px;
    max-width: 900px;
    margin: auto;
  }

  .menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .menu__front {
    height: 170px;
    min-width: 120px;
    max-width: 120px;
    box-shadow: 5px 5px 10px black;
    margin: 8px 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu__front--1 {
    background-color: #fad7d3;
  }
  .menu__front--2 {
    background-color: #fff2f4;
  }
  .menu__front--3 {
    background-color: #f7f6f7;
  }
  .menu__front--4 {
    background-color: #fdfffc;
  }
}
.link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1);
  opacity: 1;
  transition: all 400ms;
}
.link:hover {
  transform: scale(1.2);
  opacity: 0.3;
}

.title--1 {
  font-family: "jr!ha___-webfont";
  font-size: 1.9em;
  color: #22110e;
}
.title--2 {
  font-family: "FontleroyBrown-webfont";
  font-size: 3em;
  background: linear-gradient(to right, #f7b148 0%, #9217f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title--3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 2em;
  background: linear-gradient(to right, #7cddf5 0%, #1740f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.title--4 {
  font-family: "KaushanScript-Regular";
  font-size: 1.9em;
  background: linear-gradient(to right, #15be06 0%, #90f786);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.subtitle {
  font-family: "Metropolis-Regular";
  font-size: 1.7em;
}
.subtitle--1 {
  color: #22110e;
}
.subtitle--2 {
  color: #f7b148;
}
.subtitle--3 {
  color: #1740f7;
}
.subtitle--4 {
  color: #15be06;
}

@media screen and (max-width: 450px) {
  .title--1 {
    font-family: "jr!ha___-webfont";
    font-size: 0.8em;
    color: #22110e;
  }
  .title--2 {
    font-family: "FontleroyBrown-webfont";
    font-size: 1.1em;
    background: linear-gradient(to right, #f7b148 0%, #9217f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title--3 {
    font-family: "DancingScript-VariableFont_wght";
    font-size: 0.8em;
    background: linear-gradient(to right, #7cddf5 0%, #1740f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title--4 {
    font-family: "KaushanScript-Regular";
    font-size: 0.8em;
    background: linear-gradient(to right, #15be06 0%, #90f786);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .subtitle {
    font-family: "Metropolis-Regular";
    font-size: 0.8em;
  }
  .subtitle--1 {
    color: #22110e;
  }
  .subtitle--2 {
    color: #f7b148;
  }
  .subtitle--3 {
    color: #1740f7;
  }
  .subtitle--4 {
    color: #15be06;
  }
}
.bouton-next {
  margin: auto;
  margin-top: 14px;
  margin-bottom: 14px;
  width: 200px;
  height: 32px;
  background-color: #488c74;
  border-radius: 15px;
  position: relative;
}
.bouton-next p {
  font-family: "Metropolis-Regular";
  font-size: 1em;
  color: #fbc137;
  position: absolute;
  left: 20px;
  top: -8px;
}

@keyframes points {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.susp {
  position: absolute;
  right: 18px;
  top: 12px;
  width: 35px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.susp__point {
  background-color: #fbc137;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: points 1000ms infinite;
  animation-direction: alternate;
}
.susp__point--1 {
  animation-delay: 333.3333333333ms;
}
.susp__point--2 {
  animation-delay: 666.6666666667ms;
}
.susp__point--3 {
  animation-delay: 1000ms;
}

/** footer **/
footer {
  width: 100%;
  height: 35px;
  background-color: #488c74;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  bottom: 0;
}

.bouton-footer {
  margin: 2px 10px;
}
.bouton-footer p {
  font-family: "Metropolis-Regular";
  font-size: 0.7em;
  color: #fbc137;
}
.bouton-footer a {
  text-decoration: none;
}

h2 {
  font-family: "Metropolis-Regular";
  font-size: 1.6em;
  color: #141414;
  text-align: center;
}

@media screen and (max-width: 450px) {
  h2 {
    font-family: "Metropolis-Regular";
    font-size: 1.3em;
    color: #141414;
    text-align: center;
  }
}
.back {
  width: 700px;
  height: 1400px;
  background-color: #fad7d3;
  box-shadow: 5px 5px 10px black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 560px;
}

@media screen and (max-width: 450px) {
  .back {
    width: 300px;
    height: 880px;
    background-color: #fad7d3;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content {
    width: 240px;
  }
}
.intro {
  font-family: "jr!ha___-webfont";
  font-size: 2em;
  color: #22110e;
}

.part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.subpart {
  font-family: "Blackjack-webfont";
  font-size: 1.6em;
  margin: 0px;
}

.sub {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sub__underline {
  width: 120px;
  height: 3px;
  background-color: black;
  transform-origin: 0% 50%;
  transform: scaleX(0);
  transition: transform 500ms;
}
.sub:hover .sub__underline {
  transform: scaleX(1);
}

.courses {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Blackjack-webfont";
  font-size: 1.2em;
}

@media screen and (max-width: 450px) {
  .intro {
    font-family: "jr!ha___-webfont";
    font-size: 1.2em;
    color: #22110e;
  }

  .part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
  }
  .part img {
    width: 60px;
  }

  .subpart {
    font-family: "Blackjack-webfont";
    font-size: 0.9em;
  }

  .courses {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Blackjack-webfont";
    font-size: 0.8em;
  }
}
.mirror {
  transform: scaleX(-1);
}

h2 {
  font-family: "Metropolis-Regular";
  font-size: 1.6em;
  color: #141414;
  text-align: center;
}

@media screen and (max-width: 450px) {
  h2 {
    font-family: "Metropolis-Regular";
    font-size: 1.3em;
    color: #141414;
    text-align: center;
  }
}
.back--menu2 {
  width: 700px;
  height: 1200px;
  background-color: #fff2f4;
  box-shadow: 5px 5px 10px black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content--menu2 {
  width: 660px;
}

@media screen and (max-width: 450px) {
  .back--menu2 {
    width: 300px;
    height: 730px;
    background-color: #fff2f4;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content--menu2 {
    width: 240px;
  }
}
.intro--menu2 {
  font-family: "FontleroyBrown-webfont";
  font-size: 4em;
  background: linear-gradient(to right, #c67412 0%, #6e4ccc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 450px) {
  .intro--menu2 {
    font-family: "FontleroyBrown-webfont";
    font-size: 2em;
    background: linear-gradient(to right, #c67412 0%, #6e4ccc);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.part {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 60px;
}

@media screen and (max-width: 450px) {
  .part {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
  }
}
.subpart--menu2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.3em;
  margin: 0px;
}
.subpart--menu2--1 {
  color: #c67412;
}
.subpart--menu2--2 {
  color: #a567a3;
}
.subpart--menu2--3 {
  color: #6e4ccc;
}

@media screen and (max-width: 450px) {
  .subpart--menu2 {
    font-size: 0.6em;
  }
}
.courses--menu2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0px 70px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1em;
}
.courses--menu2--1 {
  color: #c67412;
}
.courses--menu2--2 {
  color: #a567a3;
}
.courses--menu2--3 {
  color: #6e4ccc;
}

@media screen and (max-width: 450px) {
  .courses--menu2 {
    margin: 0px 15px;
    font-size: 0.8em;
  }
}
.back--menu3 {
  width: 700px;
  height: 1400px;
  background-color: #f7f6f7;
  box-shadow: 5px 5px 10px black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .back--menu3 {
    width: 300px;
    height: 820px;
    background-color: #f7f6f7;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.intro--menu3 {
  font-family: "DancingScript-VariableFont_wght";
  font-size: 3.6em;
  background: linear-gradient(to right, #7cddf5 0%, #1740f7);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 450px) {
  .intro--menu3 {
    font-family: "DancingScript-VariableFont_wght";
    font-size: 2em;
    background: linear-gradient(to right, #7cddf5 0%, #1740f7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.courses--menu3 {
  margin: 0px 50px;
}

@media screen and (max-width: 450px) {
  .courses--menu3 {
    margin: 0px 10px;
  }
}
.back--menu4 {
  width: 700px;
  height: 1400px;
  background-color: #fdfffc;
  box-shadow: 5px 5px 10px black;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (max-width: 450px) {
  .back--menu4 {
    width: 300px;
    height: 860px;
    background-color: #fdfffc;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.intro--menu4 {
  font-family: "KaushanScript-Regular";
  font-size: 3.6em;
  background: linear-gradient(to right, #15be06 0%, #90f786);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 450px) {
  .intro--menu4 {
    font-family: "KaushanScript-Regular";
    font-size: 2em;
    background: linear-gradient(to right, #15be06 0%, #90f786);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
section {
  width: 900px;
  padding: 30px;
  margin: auto;
  font-family: "Metropolis-Regular";
}
section h1 {
  text-align: center;
  font-size: 2.2em;
  color: #488c74;
}
section h2 {
  font-size: 1.4em;
  color: black;
}
section p {
  font-size: 1em;
  color: black;
}

@media screen and (max-width: 450px) {
  section {
    width: 300px;
  }
}

/*# sourceMappingURL=style.css.map */
