body
{
    margin: auto;
}

/** main **/

main
{
    background-color: $white;
    padding: 30px 30px;
    max-width: 900px;
    margin: auto;
}

.menu
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    &__front
    {
        height: 560px;
        min-width: 400px;
        box-shadow: 5px 5px 10px black;
        margin: 20px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        &--1
        {
            background-color: $menu1;
        }
        &--2
        {
            background-color: $menu2;
        }
        &--3
        {
            background-color: $menu3;
        }
        &--4
        {
            background-color: $menu4;
        }
    }
}

@media screen and (max-width: 450px)
{
    main
    {
        background-color: $white;
        padding: 20px 40px;
        max-width: 900px;
        margin: auto;
    }
    .menu
    {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        &__front
        {
            height: 170px;
            min-width: 120px;
            max-width: 120px;
            box-shadow: 5px 5px 10px black;
            margin: 8px 4px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            &--1
            {
                background-color: $menu1;
            }
            &--2
            {
                background-color: $menu2;
            }
            &--3
            {
                background-color: $menu3;
            }
            &--4
            {
                background-color: $menu4;
            }
        }
    }
}

.link 
{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: scale(1);
    opacity: 1;
    transition: all 400ms;
    &:hover 
    {
        transform: scale(1.2);
        opacity: 0.3;
    }
}

.title
{
    &--1
    {
        font-family: 'jr!ha___-webfont';
        font-size: 1.9em;
        color: rgb(34, 17, 14);
    }
    &--2
    {
        font-family: 'FontleroyBrown-webfont';
        font-size: 3em;
        background: linear-gradient(to right, rgb(247, 177, 72) 0%, rgb(146, 23, 247));
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    &--3
    {
        font-family: 'DancingScript-VariableFont_wght';
        font-size: 2em;
        background: linear-gradient(to right, rgb(124, 221, 245) 0%, rgb(23, 64, 247));
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
    &--4
    {
        font-family: 'KaushanScript-Regular';
        font-size: 1.9em;
        background: linear-gradient(to right, rgb(21, 190, 6) 0%, rgb(144, 247, 134));
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
    }
}

.subtitle
{
    font-family: 'Metropolis-Regular';
    font-size: 1.7em;
    &--1
    {
        color: rgb(34, 17, 14);
    }
    &--2
    {
        color: rgb(247, 177, 72);
    }
    &--3
    {
        color: rgb(23, 64, 247);
    }
    &--4
    {
        color: rgb(21, 190, 6);
    }
}

@media screen and (max-width: 450px)
{
    .title
    {
        &--1
        {
            font-family: 'jr!ha___-webfont';
            font-size: 0.8em;
            color: rgb(34, 17, 14);
        }
        &--2
        {
            font-family: 'FontleroyBrown-webfont';
            font-size: 1.1em;
            background: linear-gradient(to right, rgb(247, 177, 72) 0%, rgb(146, 23, 247));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--3
        {
            font-family: 'DancingScript-VariableFont_wght';
            font-size: 0.8em;
            background: linear-gradient(to right, rgb(124, 221, 245) 0%, rgb(23, 64, 247));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &--4
        {
            font-family: 'KaushanScript-Regular';
            font-size: 0.8em;
            background: linear-gradient(to right, rgb(21, 190, 6) 0%, rgb(144, 247, 134));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }

    .subtitle
    {
        font-family: 'Metropolis-Regular';
        font-size: 0.8em;
        &--1
        {
            color: rgb(34, 17, 14);
        }
        &--2
        {
            color: rgb(247, 177, 72);
        }
        &--3
        {
            color: rgb(23, 64, 247);
        }
        &--4
        {
            color: rgb(21, 190, 6);
        }
    }
}

.bouton-next
{
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    width: 200px;
    height: 32px;
    background-color: $maincolor;
    border-radius: 15px;
    position: relative;
    & p
    {
        font-family: 'Metropolis-Regular';
        font-size: 1em;
        color: $yellow;
        position: absolute;
        left: 20px;
        top: -8px;
    }
}

@keyframes points
{
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.susp
{
    position: absolute;
    right: 18px;
    top: 12px;
    width: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__point
    {
        background-color: $yellow;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        animation: points 1000ms infinite;
        animation-direction: alternate;
        @for $i from 1 through 3 {
            &--#{$i} {
                animation-delay: 1000ms / 3 * $i;
             }
        }

    }
}



