h2
{
    font-family: 'Metropolis-Regular';
    font-size: 1.6em;
    color: rgb(20, 20, 20);
    text-align: center;
}

.back
{
    width: 700px;
    height: 1400px;
    background-color: $menu1;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content
{
    width: 560px;
}

.intro
{
    font-family: 'jr!ha___-webfont';
    font-size: 2em;
    color: rgb(34, 17, 14);
}

.part
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subpart
{
    font-family: 'Blackjack-webfont';
    font-size: 1.6em; 
}

.courses
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Blackjack-webfont';
    font-size: 1.2em;
}

.mirror
{
    transform: scaleX(-1);
}