h2
{
    font-family: 'Metropolis-Regular';
    font-size: 1.6em;
    color: rgb(20, 20, 20);
    text-align: center;
}

@media screen and (max-width: 450px)
{
    h2
    {
        font-family: 'Metropolis-Regular';
        font-size: 1.3em;
        color: rgb(20, 20, 20);
        text-align: center;
    }   
}

.back
{
    width: 700px;
    height: 1350px;
    background-color: $menu1;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content
{
    width: 560px;
}

@media screen and (max-width: 450px)
{
    .back
    {
        width: 300px;
        height: 960px;
        background-color: $menu1;
        box-shadow: 5px 5px 10px black;
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content
    {
        width: 240px;
    }
}

.note
{
    padding-top: 20px;
}

@media screen and (max-width: 450px)
{
    .note
    {
        width: 40px;
        padding-top: 20px;
    }
}

.intro
{
    font-family: 'jr!ha___-webfont';
    font-size: 2em;
    color: rgb(34, 17, 14);
}

.part
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.subpart
{
    font-family: 'Blackjack-webfont';
    font-size: 1.6em;
    margin: 0px; 
}

.sub
{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__underline
    {
        width:120px;
        height: 3px;
        background-color: black;
        transform-origin: 0% 50%;
        transform: scaleX(0);
        transition: transform 500ms;
    }
    &:hover
    {
        .sub__underline
        {
            transform: scaleX(1);
        }
    }
}


.courses
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Blackjack-webfont';
    font-size: 1.2em;
}

@media screen and (max-width: 450px)
{
    .intro
    {
        font-family: 'jr!ha___-webfont';
        font-size: 1.2em;
        color: rgb(34, 17, 14);
    }

    .part
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 20px;
        & img
        {
            width: 60px;
        }
    }

    .subpart
    {
        font-family: 'Blackjack-webfont';
        font-size: 0.9em; 
    }

    .courses
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-family: 'Blackjack-webfont';
        font-size: 0.8em;
    }
}

.foot-menu
{
    display: flex;
    flex-direction: row;
    align-items: center;
    &__img
    {
        padding:10px;
    }
    & p 
    {
        font-family: 'jr!ha___-webfont';
        font-size: 1.4em;
        color: rgb(34, 17, 14);
    }
}

@media screen and (max-width: 450px)
{
    .foot-menu
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        &__img
        {
            padding:10px;
        }
        & p 
        {
            font-family: 'jr!ha___-webfont';
            font-size: 0.9em;
            color: rgb(34, 17, 14);
        }
    }
}

.mirror
{
    transform: scaleX(-1);
}