.back--menu4
{
    width: 700px;
    height: 1400px;
    background-color: $menu4;
    box-shadow: 5px 5px 10px black;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro--menu4
{
    font-family: 'KaushanScript-Regular';
    font-size: 3.6em;
    background: linear-gradient(to right, rgb(21, 190, 6) 0%, rgb(144, 247, 134));
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}