@font-face 
{
    font-family:'Blackjack-webfont' ;
    src: url(fonts/blackjack-webfont.ttf) format('truetype'), url(fonts/blackjack-webfont.woff) format('woff');
}

@font-face
{
    font-family:'DancingScript-VariableFont_wght' ;
    src: url(fonts/DancingScript-VariableFont_wght.ttf) format('truetype');
}

@font-face
{
    font-family:'FontleroyBrown-webfont' ;
    src: url(fonts/FontleroyBrown-webfont.ttf) format('truetype'), url(fonts/FontleroyBrown-webfont.woff) format('woff');
}

@font-face
{
    font-family:'jr!ha___-webfont' ;
    src: url(fonts/jr!ha___-webfont.ttf) format('truetype'), url(fonts/jr!ha___-webfont.woff) format('woff');
}

@font-face
{
    font-family:'KaushanScript-Regular' ;
    src: url(fonts/KaushanScript-Regular.otf) format('truetype');
}

@font-face
{
    font-family: 'Metropolis-ExtraBold';
    src: url(fonts/Metropolis-ExtraBold.otf) format('truetype');
}

@font-face
{
    font-family: 'Metropolis-Regular';
    src: url(fonts/Metropolis-Regular.otf) format('truetype');
}